#displayContainer{
    background-color: blue;
    height:200%;
}

#connected{background-color: rgb(0, 204, 0);
border-style: none;}

#displayContainer{
  min-height: 2em;
  background-color: rgb(128, 128, 128);
}

.transferContainer{
  display:flex;
}

#transferAddress{
  width:30em;
}

#tokenBalanceUser{
  position:absolute;
  align-self: end;
  z-index: 9;
  order: -100000;
}

#containerBoard{
  background-color: gainsboro;
  margin-top:5em;
}

#fav-btn{
  border-style: none;
  outline: none;
  font-size: 10%;
  background-color: white;
}

#id{
  width: 10%;
  height: 10%;
}

.minicontainer {
  width: 2em;
  height: 2em;
}

/* Resize images */
.minicontainer img {
  width: 100%;
  height: auto;
}