<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <script
    src="https://cdn.ethers.io/lib/ethers-5.2.umd.min.js"
    type="application/javascript">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link href="/css/indexUserStyle.css" rel="stylesheet">
    
</head>

<body class="container">

<header>
    <%- include('../partials/headerLoggedIn'); %>
    
</header>

<main>
    <div id="welcomeMessage"></div>

    <div class="container-md" id="containerBoard">
    <div class="button-wrap">
            <!--<button id="myButton" class="btn btn-primary"">Metamask Installed ?</button>
            <button id="metaBtn" class="btn btn-primary"">Connect to Metamask</button>
                !-->
            <button class="btn btn-primary" type="submit" data-bs-toggle="modal" data-bs-target="#exampleModal">MINT</button>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Mint</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    <p>Which Token do you want to mint ?</p>
                    <select id="mintSelect" class="form-select" aria-label="Default select example">
                        <option value="0" selected="selected">Simon - #0</option>
                        <option value="1">Nomis - #1</option>
                      </select>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button id="mintBtn" type="button" class="btn btn-primary" data-bs-dismiss="modal">Validate</button>
                    </div>
                </div>
                </div>
            </div>
            
            
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                TRANSFER
            </a>


            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <div class="mb-3">
                    <label for="transferAddress" class="form-label">Address</label>
                    <div>
                        <input class="form-control" id="transferAddress" type="text">
                        <button id="transferBtn" class="btn btn-primary" type="submit">TRANSFER</button>
                    </div>
                  </div>
                  <div class="mb-3">
                    <button id="sendToRandom" class="btn btn-primary " >Send to random guy</button>
                  </div>
                  
            </div>
            <button id="printBtn" class="btn btn-primary" type="submit">PRINT</button>
            <button id="printURIBtn" class="btn btn-primary" type="submit">SHOW URIS</button>
            <button id="deleteBtn" class="btn btn-primary" type="submit">Reset</button>
            


        
    </div>
    <div id="dropdownUser"></div>

    <div id="tokenDisplay"></div></div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>


<% if (favoriteList) { %>
    <script>
        
      var favoriteList = <%- favoriteList %>     
      //console.log(favoriteList)
    </script>
<% } %>
<script src='/indexLoggedIn.js' ></script>
</body>
</html>